<!-- FOOTER -->
<div class="fluid-container footer">
	<div class="container">
		<div class="row">
			<div class="footer-content-wrap">

				<div class="col-xs-3 xsfooter">
					<img src="images/footer-logo.png">
					<p class="copyright-text">© 2014-2015 БРУСКОМ</p>
					<div class="footer-numbers">
						<span class="footer-number">+ 7 921 /</span>
						<span class="footer-tel-number"> 234-56-78</span>
						<p><a  class="footer-address-link" href="#">info@bruskom.com</a></p>
					</div>
				</div>
				
				<div class="col-xs-6">
					<p class="footer-content-text">Все материалы данного сайта являются объектами авторского<br>
						права (в том числе дизайн). Запрещается копирование,<br>
						распространение (в том числе путем копирования на другие<br>
						сайты и ресурсы в Интернете) или любое иное использование<br>
						информации и объектов без предварительного согласия<br>
						правообладателя. Cайт не является публичной офертой.
					</p>
				</div>
				<div class="col-xs-3">
					<p><a href="#"  class="kuratov"></a></p>
				</div>
			</div>

		</div>
	</div>
</div>