/* carousel before footer */
.article-main-title-text {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 45px;
	font-size: 36px;
	color: rgb(84, 91, 84);
	line-height: 0.583;
}

.bottom-slider-main-wrap {
	margin: 0 3.5%;
}

.bottom-slider-wrap {
	width: 31%;
	float: left;
}

.bottom-slider-wrap a:hover {
	text-decoration: none;
}

.bottom-slider-wrap p {
	margin-left: 3%;
}

.bottom-slider-wrap img {
	width: 100%;
}

.bottom-slider-wrap:nth-child(2) {
	margin-left: 3.5%;
	margin-right: 3.5%;
}

.carousel-indicators2 {
	bottom: -80px !important;
}

.carousel-indicators3 {
	margin-bottom: -80px !important;
}

.carousel-indicators3 {
	margin-bottom: -100px !important;
}

.carousel-indicators2 .active,
.carousel-indicators3 .active {
	margin: 5px !important;
	background-color: rgb(49, 148, 60) !important;
	width: 18px !important;
	height: 18px !important;
}

.carousel-indicators2 li,
.carousel-indicators3 li {
	margin: 5px !important;
	width: 18px !important;
	height: 18px !important;
	border: 2px solid rgb(49, 148, 60) !important;
	background-color: rgba(255, 255, 255, 0) !important;
}